
<div class="page-header">
  <div class="header-text">
    <h1>Cloud Computing Made Easy</h1>
    <h2>Web Design & Development</h2>
    <h2>Email Support</h2>
    <button mat-raised-button>Signup</button>
  </div>
</div>
<div class="biz-sol mobile-scree">
  <span id="biz-img"></span>
  <span id="biz-text">
    <h1>Business Solutions</h1>
    <small>We provide solutions that works</small>
    <small>for your business.</small>
  </span>
</div>
<div class="serv-point">
  <span class="point">
    <mat-icon>swap_horiz</mat-icon>
    <h1>Easy to Switch</h1>
  </span>
  <span class="point">
      <mat-icon>done</mat-icon>
      <h1>Simple Licensing</h1>
  </span>
  <span class="point">
      <mat-icon>event</mat-icon>
      <h1>Monthly Billing</h1>
    </span>
    <span class="point">
        <mat-icon>headset_mic</mat-icon>
        <h1>UK Tech Support</h1>
    </span>
    <span class="point dextop-screen">
        <mat-icon>euro_symbol</mat-icon>
        <h1>Customer Discount</h1>
      </span>
      <span class="point dextop-screen">
          <mat-icon>layers</mat-icon>
          <h1>Free Marketing Marterials</h1>
    </span>
</div>
<div class="services-wrapper">
  <div class="service cloud-image">
  </div>
  <div class="service cloud-text">
    <mat-icon>cloud</mat-icon>
    <h1>cloud services</h1>
    <p> 
      Modeling Polymorphic Associations in a Relational Database
     
    </p>
    <button mat-raised-button>more</button>
  </div>
  <div class="service web-text">
      <span><h1>Web Design & Development</h1></span>
      <span><h1>Web Hosting Services</h1></span>
  </div>
  <div class="service web">
  </div>
  <div class="service email">

  </div>
  <div class="service email-text">
    <mat-icon>email</mat-icon>
    <h1>Email</h1>
    <p>
        Profile picture of Jack Christensen by Jack Christensen on July 7, 2016
    </p>
    <button mat-raised-button>more</button>
  </div>
</div>
<div class="partner-products">
    <div class="office-365">
      <span class="item1">
        <h1>Office 365</h1>
        <p>Profile picture of Jack Christensen by Jack Christensen <a href="">see more</a></p>
      </span>
      <span class="item2">

      </span>
      </div>
      <div class="gsuite">
          <span class="item1">
          </span>
          <span class="item2">
              <h1>Gsuite</h1>
              <p>Profile picture of Jack Christensen by Jack Christensen <a href="">see more</a></p>
          </span>
      </div>
</div>
<div class="subscribe">
  <h1>Stay Connected</h1>
  <p>
      Get the latest Miscotech Cloud Market news straight to your inbox and join more than 4,000 partners already signed up.
  </p>
  <div class="forms">
    <input type="text" placeholder="email">
    <button mat-raised-button >Subscribe</button>
  </div>
</div>

<div class="testimony">
    <h1>Testimony</h1>
    <div class="testify">
      <div class="arrow back-arrow">
          <mat-icon>keyboard_arrow_left</mat-icon>
      </div>
      <div class="content">
          <div class="icons">
              <mat-icon>insert_comment</mat-icon>
          </div>
          <p class="commnet">
              Support from our account manager has been outstanding and the billing experience is particularly easy compared to the two previous CSP providers we have worked with. We have commented on several occasions to Microsoft that Giacom is the easiest CSP solution we have used.
          </p>
          <h2>John Tudy</h2>
          <h5>Graceland Solicitors</h5>
        </div>
        <div class="arrow next-arrow">
          <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
</div>
